GCP_SECRET_ARGOCD_GHCR_PULL_SECRET="argocd-ghcr-pull-secret"
ARGOCD_GHCR_PULL_SECRET='{"auths":{"ghcr.io":{"username":"YOUR_GH_USERNAME","password":"YOUR_GHCR_PAT","auth":"BASE64_USERNAME_COLON_PAT"}}}'

GCP_SECRET_WEBSITE_DEV_GHCR_PULL_SECRET="k3s-website-dev-ghcr-pull-secret"
WEBSITE_DEV_GHCR_PULL_SECRET='{"auths":{"ghcr.io":{"username":"YOUR_GH_USERNAME","password":"YOUR_GHCR_PAT","auth":"BASE64_USERNAME_COLON_PAT"}}}'

GCP_SECRET_WEBSITE_PROD_GHCR_PULL_SECRET="k3s-website-prod-ghcr-pull-secret"
WEBSITE_PROD_GHCR_PULL_SECRET='{"auths":{"ghcr.io":{"username":"YOUR_GH_USERNAME","password":"YOUR_GHCR_PAT","auth":"BASE64_USERNAME_COLON_PAT"}}}'
