GCP_SECRET_ARGOCD_REPO_SSH_PRIVATE_KEY="k3s-argocd-repo-ssh-private-key"
ARGOCD_REPO_SSH_PRIVATE_KEY="-----BEGIN OPENSSH PRIVATE KEY-----..."

GCP_SECRET_K3S_HOMELAB_WRITEBACK="k3s-homelab-writeback"
K3S_HOMELAB_WRITEBACK="ghp_your_github_token"

GCP_SECRET_ARGOCD_GHCR_PULL_SECRET="argocd-ghcr-pull-secret"
ARGOCD_GHCR_PULL_SECRET='{"auths":{"ghcr.io":{"username":"YOUR_GH_USERNAME","password":"YOUR_GHCR_PAT","auth":"BASE64_USERNAME_COLON_PAT"}}}'
