TF_STATE_BUCKET="your-project-id-k3s-homelab-tfstate"
TF_STATE_PREFIX="server"
TF_STATE_WORKER_PREFIX="worker"
TF_STATE_LOCATION="europe-west3"
TF_STATE_DELETE_OLD_VERSIONS="false"
TF_STATE_NONCURRENT_VERSION_AGE_DAYS="90"
TF_STATE_FORCE_DESTROY="false"
