WORKER_NAME="k3s-worker-1"
WORKER_TAG="k3s-worker"
WORKER_NODE_LABELS=""
WORKER_MACHINE_TYPE="e2-standard-2"
WORKER_INTERNAL_IP="10.10.0.3"
TAILSCALE_WORKER_AUTH_KEY=""
TAILSCALE_WORKER_HOSTNAME="k3s-worker-1"

# Optional multi-worker path:
# WORKERS_JSON='{
#   "k3s-worker-1": {
#     "internal_ip": "10.10.0.3",
#     "node_labels": ["homelab.danielmtz/workload-role=quant"],
#     "tailscale_hostname": "k3s-worker-1"
#   },
#   "k3s-worker-2": {
#     "internal_ip": "10.10.0.4",
#     "node_labels": ["homelab.danielmtz/workload-role=web"],
#     "machine_type": "e2-standard-4",
#     "tailscale_hostname": "k3s-worker-2"
#   }
# }'
#
# Or point to an HCL file that defines workers = { ... }:
# WORKERS_TFVARS_PATH="$HOME/.config/k3s-homelab/workers.auto.tfvars.hcl"
