SERVER_NAME="k3s-server-1"
SERVER_TAG="k3s-server"
ADDRESS_NAME="k3s-server-ip"
MACHINE_TYPE="e2-standard-2"
K3S_CLUSTER_TOKEN=""
K8S_SERVICE_ACCOUNT_ISSUER_ENABLE="false"
K8S_SERVICE_ACCOUNT_ISSUER_URL=""
K8S_SERVICE_ACCOUNT_JWKS_URI=""
