project_id        = "your-gcp-project-id"
region            = "europe-west3"
zone              = "europe-west3-a"
network_name      = "k3s-lab"
subnet_name       = "k3s-lab-subnet"
cluster_tag       = "k3s-node"
worker_name       = "k3s-worker-1"
worker_tag        = "k3s-worker"
machine_type      = "e2-standard-2"
image_family      = "ubuntu-2404-lts-amd64"
image_project     = "ubuntu-os-cloud"
ssh_user          = "your-user"
ssh_public_key    = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAA..."
boot_disk_size_gb = 40
