project_id       = "your-gcp-project-id"
region           = "europe-west3"
zone             = "europe-west3-a"
network_name     = "k3s-lab"
subnet_name      = "k3s-lab-subnet"
subnet_cidr      = "10.10.0.0/24"
server_name      = "k3s-server-1"
server_tag       = "k3s-server"
address_name     = "k3s-server-ip"
machine_type     = "e2-standard-2"
image_family     = "ubuntu-2404-lts-amd64"
image_project    = "ubuntu-os-cloud"
ssh_source_range = "203.0.113.10/32"
ssh_user         = "your-user"
ssh_public_key   = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAA..."
boot_disk_size_gb = 40
